p {
    margin: 20px;
    background: #D3D3D3;
    padding: 20px;
    font-family: sans-serif;
}
h3 {
  margin-left: 10px;
  color:#2F4F4F;
  font-family: sans-serif;
}
body {
  margin: 60px 40px 100px;
}
img {
  width: calc(100% - 20px);
  margin: 10px;
}
